{
  "singleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
